<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Mangoit. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mangoit_Stripe::main" title="Mangoit Stripe Main">
                    <resource id="Mangoit_Stripe::subscription" title="Subscription" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
