<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <Mangoit_stripe>
                <active>1</active>
                <save>0</save>
                <title>Stripe Credit Card Payment</title>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <test>1</test>
                <email_customer>0</email_customer>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <useccv>1</useccv>
                <allowspecific>0</allowspecific>
                <additional_config>
                    <create_order>1</create_order>
                    <cancel_period_end>1</cancel_period_end>
                    <enable_total_cycle>1</enable_total_cycle>
                    <max_total_cycle>20</max_total_cycle>
                </additional_config>

                <model>Mangoit\Stripe\Model\StripePaymentMethod</model>
            </Mangoit_stripe>

            <Mangoit_stripe_iframe>
                <active>1</active>
                <title>Stripe Checkout Iframe</title>
                <allow_bitcoin>0</allow_bitcoin>
                <allow_alipay>0</allow_alipay>
                <collect_billing>0</collect_billing>
                <order_status>processing</order_status>
                <collect_zip>0</collect_zip>
                <display_name>Demo Site</display_name>
                <allow_remember>0</allow_remember>
                <model>Mangoit\Stripe\Model\StripePaymentIframe</model>
            </Mangoit_stripe_iframe>
        </payment>
    </default>
</config>
