<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Mangoit\Stripe\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="Mangoit_stripe" xsi:type="const">Mangoit\Stripe\Model\StripePaymentMethod::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="Mangoit_stripe_config_provider" xsi:type="object">Mangoit\Stripe\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MangoitStripeIframeCcConfigProvider" type="Magento\Payment\Model\IframeConfigProvider">
        <arguments>
            <argument name="methodCode" xsi:type="const">Mangoit\Stripe\Model\StripePaymentMethod::CODE</argument>
        </arguments>
    </virtualType>
</config>
